/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.04.2015, 07:51:03
    Author     : 5ia13meislami
*/

html{
    background-color: rgb(255,228,225);
}

#center{
    font-family: Comic Sans MS;
    font-size: 16pt;
    color:black;
    position:fixed;
    top:40%;right:40%;
}

#logo{
    position:absolute;
}