/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.04.2015, 07:51:03
    Author     : 5ia13meislami
*/

body{
    background-color: lightgreen;
}
#center{
    font-family: Comic Sans MS;
    font-size: 16pt;
    color:black;
    position:fixed;
    top:40%;right:40%;
}